<head>
  <meta charset="utf-8" />
  <title>iSafari Africa | Welcome!</title>
  
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <meta name="title" content="iSafari Africa | " />
  <meta name="description" content="iSafari Africa" />
  <meta name="keywords" content="Hotels, Rentals, Holiday" />
  
  <meta property="og:url" content="http://www.isafari.co.ke"/>
  <meta property="og:title" content="iSafari Africa | "/> 
  <meta property="og:type" content="website"/> 
  <meta property="og:image" content="http://www.isafari.co.ke/images/logo.jpg"/> 
  <meta property="og:site_name" content="iSafari Africa"/> 
  <meta property="og:description" content="iSafari Africa | "/>
  <meta name="viewport" content="initial-scale=1,minimum-scale=1,width=device-width">

  <!-- Icons & favicons (for more: http://www.jonathantneal.com/blog/understand-the-favicon/) -->
  <link rel="apple-touch-icon" href="assets/images/favicon/apple-icon-touch.png">
  <link rel="icon" href="assets/images/favicon/favicon.png">
  <!--[if IE]>
      <link rel="shortcut icon" href="assets/images/favicon/favicon.ico">
  <![endif]-->
  <?php // or, set /favicon.ico for IE10 win ?>
  <meta name="msapplication-TileColor" content="#f01d4f">
  <meta name="msapplication-TileImage" content="assets/images/favicon/win8-tile-icon.png">
</head>

<body>
</body>