<template name="userHome">
  <div class="row">
    <div id="slides">
      <ul class='slides-container'>
        <li> 
          <img src='assets/images/slider/baobab-course.jpg' alt=''> 
          <div class='container'> 
            <h1 class="span_8 promotion-title">Explore <span class="detail">Vipingo Ridge</span></h1> 
            <p class="span_6 promotion-price">FROM KSH <span class="detail">30,000</span></p>
          </div> 
        </li>
        <li> 
          <img src='assets/images/slider/tanda-tula-tent.jpg' alt=''> 
          <div class='container'> 
            <h1 class="span_8 promotion-title">Explore <span class="detail">Masaai Mara</span></h1> 
            <p class="span_6 promotion-price">FROM KSH <span class="detail">80,000</span></p> 
          </div> 
        </li> 
        <li> 
          <img src='assets/images/slider/lamu.jpg' alt=''> 
          <div class='container'> 
            <h1 class="span_8 promotion-title">Explore <span class="detail">Lamu</span></h1> 
            <p class="span_6 promotion-price">FROM KSH <span class="detail">70,000</span></p> 
          </div>
        </li> 
        <li> 
          <img src='assets/images/slider/flamingos-nakuru.jpg' alt=''> 
          <div class='container'> 
            <h1 class="span_8 promotion-title">Explore <span class="detail">Lake Naivasha</span></h1> 
            <p class="span_6 promotion-price">FROM KSH <span class="detail">40,000</span></p> 
          </div> 
        </li>
        <li> 
          <img src='assets/images/slider/sunrise-malindi.jpg' alt=''> 
          <div class='container'> 
            <h1 class="span_8 promotion-title">Explore <span class="detail">Malindi</span></h1> 
            <p class="span_6 promotion-price">FROM KSH <span class="detail">20,000</span></p> 
          </div> 
        </li>
        <li> 
          <img src='assets/images/slider/mombasa.jpg' alt=''> 
          <div class='container'> 
            <h1 class="span_8 promotion-title">Explore <span class="detail">Mombasa</span></h1> 
            <p class="span_6 promotion-price">FROM KSH <span class="detail">10,000</span></p> 
          </div> 
        </li>
      </ul> 
    </div>
  </div>
  <div data-ui-view="sidebar" class="right-sidebar span_7"></div>
</template>