/* CONTENTS
************************
  1. Typography
  2. Primary Navgation
  3. Secondary Navigation
  4. Content Area
  5. Right Sidebar
  6. Left Sidebar
  7. Buttons
 ************************/

//Font Stacks
$primary_stack: "Myriad Pro", Helvetica, Arial, sans-serif;

//Colours
$isafari_yellow: #F1C40F;
$darker_brown: rgb(96,57,19);
$isafari_brown: rgb(99,69,42);

/* ==========================================================================
      General Styles
   ========================================================================== */
html, body {
  font-size: 1em;
  background-color: #ECF0F1;
  background: #FFF;
  height: 100%;
  color: #FFF;
  overflow: hidden;
}
body {
  font-family: $primary_stack;
  background-color: $isafari_yellow;
}

a {
    text-decoration: none;
}
input, textarea, select {
  outline: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

::selection {
  background: $isafari_yellow;
  color: $isafari_brown;
  text-shadow: none;
}
::-moz-selection {
  background: $isafari_yellow;
  color: $isafari_brown;
  text-shadow: none;
}

/* =========================================================================
     Navigation Styles
   ========================================================================= */
.header {
  position: fixed;
  font-family: $primary_stack;
  background-color: $isafari_yellow;
  overflow: hidden;
  z-index:999;
}

.header nav {
  /*border-bottom: 1px solid rgba(99, 69, 42, 0.5);*/
}

.header nav, .header nav > * {
  height: 50px;
}

//Logo
.logo-container {
  background-color: #63452A;
  float: left;
}

.logo-container img {
  width: 120px;
  margin: 0 auto;
}

////   .header Search Styles   ////

.header {
  #search {
    float: left;
    padding-left: 1em;
  }
  #search input {
    background: none;
    font-family: $primary_stack;
    color: $isafari_brown;
    font-size: 1.325em;
    outline: none;
    border: none;
    height: 50px;
  }
  ul.typeahead.dropdown-menu {
    background: $isafari_yellow;
    z-index: 9999;
  }
  #usernav {
    float: right;
    text-align: right;
    padding-right: 1em;
  }
  #usernav a {
    display: inline-block;
    font-size: 0.9em;
    color: #000;
    text-decoration: none;
    padding-left: 2em;
    line-height: 3.125em;
    cursor: pointer;
  }
}

////   End of .header Search Styles   ////

.header #search {
  ::-webkit-input-placeholder {
    color: $isafari_brown;
  }
  :-moz-placeholder {
    /* Firefox 18- */
    color: $isafari_brown;
  }
  ::-moz-placeholder {
    /* Firefox 19+ */
    color: $isafari_brown;
  }
  :-ms-input-placeholder {
    color: $isafari_brown;
  }
}

// End of .header Search Styles

//III. Secondary Navigation
.footer {
  // text-align: center;
  // line-height: 15em;
  background-color: $isafari_yellow;
  bottom: 0px;
  // border-bottom: 2px solid #63452A;
}

.footer {
  #productnav {
    a {
      display: inline-block;
      min-width: 120px;
      line-height: 3.125em;
      text-decoration: none;
      text-align: center;
      color: #000;
    }
    a.active, a:hover {
      background: $isafari_brown;
      color: #FFF;
    }
  }
  #usernav {
    float: right;
    text-align: right;
    padding-right: 1em;
  }
  #usernav a {
    display: inline-block;
    font-size: 0.9em;
    color: #000;
    text-decoration: none;
    padding-left: 2em;
    line-height: 3.125em;
    cursor: pointer;
  }
}

// End of Secondary/.footer Navigation Styles

/* =========================================================================
     Main Application Area Styles
   ========================================================================= */

.container {
  top: 0px;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background-color: #ffffff;
    // padding: 65px auto;
}

#slides {
  position: absolute;
}

#slides .slides-container {
  display: none;
}

#slides .scrollable {
  *zoom: 1;
  position: relative;
  top: 0;
  left: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  height: 100%;
}

#slides .scrollable:after {
  content: "";
  display: table;
  clear: both;
}

.slides-navigation {
  margin: 0 auto;
  position: absolute;
  z-index: 3;
  top: 46%;
  width: 100%;
}

.slides-navigation a {
  position: absolute;
  display: block;
}

.slides-navigation a.prev {
  left: 0;
}

.slides-navigation a.next {
  right: 0;
}

.promotion-title, .promotion-price {
  position: fixed;
  font-size: 1.75em;
  font-weight: normal;
  color:rgba(255,255,255,0.8);
  color: #FFF;
  bottom: 15%;
  margin: 0;
  text-shadow: 1px 1px 1px #555;
}
.promotion-title {
  left: 4%;
}
.promotion-price {
  font-size: 1.625em;
  text-align: right;
  text-transform: capitalize;
  color: #FFF;
  right: 4%;
  margin-left: -8px;
}
.promotion-price.offset_7 {
  margin-right: 29.1666666667%;
}

.promotion-title .detail, .promotion-price .detail {
  display: block;
  font-size: 2em;
  color: #FFF;
  letter-spacing: -1px;
  line-height: 1;
  margin-left: -8px;
}
.promotion-price .detail {
  font-size: 2.125em;
  margin-left: 0;
  margin-right: -8px;
  margin-top: -4px;
}


////   Breadcrumbs Styles   ////

.breadcrumbs-wrapper {
  position: fixed;
  top: 50px;
  z-index: 999;
  width: 100%;

  background: rgb(223,223,223);
  line-height: 2em;
  color: $darker_brown;
  border: 1px solid #DDD;

  > {

    * {
      float: left;
    }

    h2 {
      font-size: 1.1em;
      line-height: 33px;
      margin: 0;
      margin-left: 0.6521em;
    }

  }

  .breadcrumbs a {
    font-size: 0.75em;
    padding-right: 0.25em;
    color: $isafari_yellow;
  }
  .breadcrumbs a:after {
    content: ' /';
    color: $darker_brown;
  }

  .breadcrumbs span {
    font-size: 0.75em;
  }


}

////   End of Breadcrumbs Styles   ////


////   Filter Content Styles  ////

.filter.content {
  margin-left: 4.16666666667% * 4; //(For now offset = number of span * % of one span)
  margin-top: 5.343em;
  color: $darker_brown;
  background-color: #fff;
  height: 100%;


  ul {
    margin: 0;

    li {
      background-color: #fff;
      border-bottom: 1px solid #CCC;
      border-right: 5px solid transparent;
      padding: 0.4em 0.4em;
      margin: 0;

      > img {
        float: left;
        width: 25%;
      }

      .info-wrapper {
        float: left;
        width: 45%;
        margin: 0 2.5%;

        h3 {
          font-weight: normal;
          font-size: 1.625em;
          margin-top: 0;
          margin-bottom: 0.325em;
          margin-top: -2px;
        }
      
      }

      .info {

        p {
          font-size: 0.9em;
          margin: 2em 0 0 0;         
        }
        
        .ratings {
          float: left;
          overflow: hidden;
          *zoom: 1;
          list-style: none;
          

          > * {
            padding: 0;
            margin: 0;
          }

          li {
            float: left;
            width: 15px;
            height: 15px;
            text-indent: -500000em;
            background: url(../images/icons/rating.png) no-repeat;
            background-size: 100%;
            border: none;
            margin:0;

            .over {
              background-position: 0 -20px;
              cursor: pointer;
            }

            .active {
              border-color: red;
              background-color: yellow;
              background-position: 0 -20px;
            }
            
          }
        }

        .amenities {
          float: right;
        }

        .cost {
          font-size: 0.9em;
          text-align: right;
          color: #000;
          margin: 0;

          span {
            font-size: 1.5em;
            line-height: 1;
            display: block;
          }

        }
      }

      .rooms {
        float: right;
        width: 25%;
        margin-top: 0;

        a {
          display: block;
          font-size: 0.85em;
          text-align: center;
          color: #000;
          padding: 0.5em 0;
          background: #DDD;
        }
        a:hover {
          color: #FFF;
          background: rgb(190,155,99);
        }

      }

    }

    li.active {
      background: #F0F1EC;
      border-right-color: $isafari_yellow;
      border-bottom-color: $isafari_yellow;

      .rooms {
        a {          
          background: lighten($isafari_yellow, 20%)
        }
        a:hover {
          color: #FFF;
          background: rgb(190,155,99);
        }
      }
    }

    li:last-child {
      margin-bottom: 3.0875em;
    }

  }

}

////   End of Filter Content Styles  ////


////   Generic Sidebar Styles   ////

.left-sidebar, .right-sidebar {
  position: fixed;
  z-index: 998;
  top: 0;
  height: 100%;

  .wrapper {
    height: 100%;
    min-height: 500px;
    max-height: 100%;
    overflow: auto;

    > * {
      margin: 0 0.75em; 
    }
    
    > *:first-child {
      margin-top: 3.125em;
    }

  }

}

////   Left Sidebar Styles   ////

.left-sidebar {
  background: rgb(223,223,223);
  background: rgb(189,195,199);
}

//Availability Filter Left Sidebar 
.filter.left-sidebar {
  
  .wrapper {

    > *:first-child {
      margin-top: 5.825em;
    }

    slider {
      display: block;
      position: relative;
      height: 1em;
      width: 15em;

      span {
        .bar {
          height: 50%;
          z-index: 0;
          background: #eee;
          left: 0;
          top: 25%;
          cursor: pointer;

          .selection, .unselected {
          }

          .selection {
            background: #0a0;
            opacity:    0.5;
          }

          .unselected {
            width:      auto;
            background: #a00;
            opacity:    0.5;
          }
        }

        .pointer {
          cursor:           pointer;
          width:            15px;
          top:              0;
          bottom:           0;
          background-color: #00a;
        }

        .pointer:hover {
        }

        .pointer.active {
        }

        .bubble {
          font-size:   0.7em;
          line-height: 1.4em;
          font-family: sans-serif;
          text-align:  center;
          text-shadow: none;
          top:         -1.3em;
          cursor:      pointer;

          .selection, .limit {
            top: 25%;
          }

          .selection {
          }

          .limit {
          }

          .low, .high {
          }
        }


      }
 
    }

  

    
  }

  h4 {
    color: rgb(99,69,42);
  }
}

::-ms-tooltip {
  display: none;
}

#slider-container {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

////   End of Left Sidebar Styles   ////


////   Right Sidebar Styles   ////

.right-sidebar {
  background: #bdc3c7;
  font-family: $primary_stack;
  right: 0;
}

.right-sidebar {

  .tab-options {
    margin: 3.125em 0 0 0;
  }

  .tab-options a {
    float: left;
    display: block;
    background: $isafari_brown;
    font-size: 0.9em;
    font-weight: bold;
    text-align: center;
    color: #FFF;
    border-right: 1px solid $isafari_yellow;
    line-height: 40px;
    padding: 0 0.3575em;
  }
  .tab-options a:last-child { border: none; }
  .tab-options a.active { background: $isafari_yellow; color: $isafari_brown;}

  .destination {
    margin: 0;
    padding-top: 0.425em;
  }

  .destination {
    input {
      background: #FFF;
      font-family: $primary_stack;
      font-weight: bold;
      border: none;
      padding: 0 0.325em;
      height: 2em;
      margin: 0 0 0.425em 0;
      width: 100%;
      max-width: 100%;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
  }

  .transport-type select {
    margin-top: 0;
  }

  //Content Box Styles 
  .content-box {

    float: left;
    color: #222;
    background: #FFF;
    padding: 0.325em 0.5em 0.5em;
    margin-bottom: 0.325em;

    > span {
      font-size: 0.9em;
      font-weight: bold;
      color: #AAA;
      margin-bottom: 0.75em;
      display: block;
    }

    h4, h5, h6 {
      font-weight: normal;
      float: left;
      margin: 0;
      vertical-align: top;
      line-height: 1;
    }

    h4 {
      font-size: 3em;
      margin-right: 0.225em;
      margin-top: -8px;
    }
    .pax-details h4 {
      margin-right: 0em;
    }

    h5 {
      font-size: 0.9em;
      margin-bottom: 0.125em;
    }
    .date h5 {
      min-width: 40px;
    }

    h6 {
      font-size: 0.75em;
      width: 45%;
    }

    .month-year {
      float: left;

      h5 {
        float: none;
      }
    }

    a.button {
      display: table;
      clear: left;
      font-size: 0.825em;
      color: #000;
      text-align: center;
      border: 1px solid #888;
      background: #E0E0E0;
      width: 100%;
      margin-top: 0.625em;
      padding: 0.25em 0.5em 0.15em;
    }

    .travel-dates, .pax-details {
      margin-bottom: 0.5em;
    }

  }
  .date-select.content-box {
    width: 49%; margin-right: 2%;
  }
  .date-select.content-box:last-child { margin-right: 0; }

  .pax.content-box {
    width: 33%;
    margin-right: 0.5%;
  }
  .pax.content-box:last-child { margin-right: 0; }

    //End of Content Box Styles

    //Sidebar Controls
  .actions {
    position: absolute;
    margin-top: 0; margin-bottom: 0; 
    bottom: 3.75em;
    width: 100%;
  }

  .actions a {
    display: inline-block;
    background: #FFF;
    color: #000;
    text-align: center;
    border: 1px solid #DDD;
    -moz-box-shadow: 1px 1px 0px #AAA;
    -webkit-box-shadow: 1px 1px 0px #AAA;
    box-shadow: 1px 1px 0px #AAA;
    margin-right: 5%;
    padding: 0.5em 1em;
    width: 43%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .controls a:last-child { margin-right: 0; }

  .type-option {
    select {
      background: #FFF;
      font-family: $primary_stack;
      font-weight: bold;
      border: none;
      padding: 0 0.325em;
      height: 2em;
      margin: 0 0 0.425em 0;
      width: 100%;
      max-width: 100%;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
  }

}

//Availability Filter Right Sidebar Styles 

.filter.right-sidebar {
  background: rgb(147,115,64);

  .title {
    font-weight: normal;
    font-size: 1.5em;
    margin: 3.875em 0.475em 0 0.475em;
  }

  .details {
    position: relative;
    margin-top: 1em;
    margin-bottom: 1.5em;
    font-size: 0.825em;

    > div {
      margin: 1em 0;
    }

    a {
      color: $isafari_yellow;
      border-bottom: 1px dotted $isafari_yellow;
      margin: 0.125em 0;
    }

    .tooltip {
      position: absolute;
      z-index: 1030;
      display: block;
      visibility: visible;
      font-size: 12px;
      line-height: 1.4;
      opacity: 0;
      filter: alpha(opacity=0);

      .top {
        margin-top: -3px;
        padding: 5px 0;

        .tooltip-arrow {
          bottom: 0;
          left: 50%;
          margin-left: -5px;
          border-width: 5px 5px 0;
          border-top-color: #000;
        }
      }

      .in {
        opacity: .9;
        filter: alpha(opacity=90);
      }
    }

    .tooltip-arrow {
      position: absolute;
      width: 0;
      height: 0;
      border-color: transparent;
      border-style: solid;
    }

    .terms a {
      display: table;
    }

    .cost {
      font-size: 3em;
      color: #000;
      position: absolute;
      right: 0;
      top: 0.325em;
      margin: 0;

      span {
        display: block;
        text-align: right;
        line-height: 1;
      }
      span:first-child {
        text-transform: uppercase;
        font-size: 0.375em;
        margin-bottom: -5px;
      }
    }


    .actions {
      position: absolute;
      right: 0;
      bottom: 0;
      margin-bottom: 0;
    }

    .actions a {
      background: rgb(99,69,42);
      font-size: 1.25em;
      font-weight: bold;
      color: #FFF;
      border: none;
      box-shadow: none;
      float: right;
    }

  }

  .facility-bio {
    background: rgb(190,155,99);
    color: rgb(105,74,46);
    margin: 0;
    width: 100%;
    height: 100%;

    > div > * {
      margin: 0 0.75em;
    }

    nav {
      margin: 0;

      a {
        float: left;
        font-size: 0.875em;
        text-align: center;
        color: #FFF;
        line-height: 32px;
        width: 33.333333%;
        margin: 0;
        background: rgb(147,115,64);
        padding-left: 0.75%;
      }
      a.active {
        background: rgb(190,155,99);
        border-right: 1px solid darken(rgb(147,115,64), 15%);
      }
      a.active:after {
        box-shadow: 3px -1px 9px rgba(0,0,0,0.4);
      }

    }

    h4 {
      color: rgb(99,69,42);
    }

    span {
      font-size: 0.8em;
    }

  }

  section {
    display: none;
    padding-top: 0.75em;
  }
  section.active {
    display:block;
  }
}


//End of Availability Filter Right Sidebar Styles 


////   End of Right Sidebar Styles   ////


/* ==========================================================================
   Helper classes
   ========================================================================== */
.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.cf:before,
.cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}


@media only screen and (min-width: 1280px) {
  
  .right-sidebar { 
    .content-box .date {
      font-size: 22px;
    }
  }

}