<template name="userFilterSleep">
	
	<div class="row">
		<div class="breadcrumbs-wrapper">
			<h2 class="subtitle">Availability Filter</h2>
			<div class="breadcrumbs">
				<a href="">Home</a>
				<a href="">Hotels</a>
				<a href="">Mombasa</a>
				<span>Search Results</span>
			</div>
			<div class="view-switcher">
				<a href="" class="grid"></a>
				<a href="" class="list"></a>
			</div>
		</div>
	</div>

	<aside class="filter left-sidebar span_4">
		<div class="wrapper">

			<h4>Price Range</h4>
			<!-- Range Input Here -->
			<input type="range" name="range" min="0" max="80000">
			<br>

			<h4>Rating</h4>
			<!-- Stars Here -->
			<br>

			<h4>Facility Attirbutes</h4>
			<ul>
				<li></li>
			</ul>
			<!-- Scrubber Here -->
		</div>
	</aside>

	<div class="filter content span_13">
		<ul>
			<li class="active cf">
				<img src="/images/slider/mombasa.jpg">
				<div class="info-wrapper">
					<h3>Whitesands Beach Resort &amp; Spa</h3>
					<div class="info cf">
						<span class="rating">*****</span>
						<div class="amenities">
							<span class="">*</span>
							<span class="food">*</span>
							<span class="wifi">*</span>
							<span class="reef">*</span>
							<span class="">*</span>
							<span class="">*</span>
							<span class="">*</span>
							<span class="swimming">*</span>
						</div>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua.
						</p>
						<h3 class="cost">from KSH<span>15,699</span></h3>
					</div>
				</div>
				<div class="rooms">
					<a href="">Standard Room</a>
					<a href="">Palm Room</a>
					<a href="">Sea Front Room</a>
					<a href="">Premier Sea Front Room</a>
				</div>
			</li>
			<li class="cf">
				<img src="/images/slider/lamu.jpg">
				<div class="info-wrapper">
					<h3>Bamburi Beach Hotel</h3>
					<div class="info cf">
						<span class="rating">****</span>
						<div class="amenities">
							<span class="">*</span>
							<span class="food">*</span>
							<span class="wifi">*</span>
							<span class="reef">*</span>
							<span class="">*</span>
							<span class="">*</span>
							<span class="">*</span>
							<span class="swimming">*</span>
						</div>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua.
						</p>
						<h3 class="cost">from KSH<span>12,999</span></h3>
					</div>
				</div>
				<div class="rooms">
					<a href="">Standard Room</a>
					<a href="">Deluxe Room</a>
					<a href="">Sea Front Room</a>
				</div>
			</li>
			<li class="cf">
				<img src="/images/slider/sunrise-malindi.jpg">
				<div class="info-wrapper">
					<h3>Travellers Beach Hotel</h3>
					<div class="info cf">
						<span class="rating">****</span>
						<div class="amenities">
							<span class="">*</span>
							<span class="food">*</span>
							<span class="wifi">*</span>
							<span class="reef">*</span>
							<span class="">*</span>
							<span class="">*</span>
							<span class="">*</span>
							<span class="swimming">*</span>
						</div>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua.
						</p>
						<h3 class="cost">from KSH<span>18,799</span></h3>
					</div>
				</div>
				<div class="rooms">
					<a href="">Standard Room</a>
					<a href="">Deluxe Room</a>
					<a href="">Sea Front Room</a>
				</div>
			</li>
		</ul>
	</div>
	
	<aside class="filter right-sidebar span_7">
		<div class="wrapper">
			<h3 class="title">Whitesands Beach Resort &amp; Spa</h3>
			<div class="details">
				<div class="dates">
					<a href="" >04 March 2014</a> to
					<a href="">14 March 2014</a>
				</div>
				<div class="pax">
					<a href="" class="adult">1</a>
					<a href="" class="children">0</a>
					<a href="" class="toddler">0</a>
				</div>
				<div class="terms">
					<a href="" class="payment-terms">100% deposit required</a>
					<a href="" class="meals">Half Board</a>
					<a href="" class="cancellation">Cancellation</a>
				</div>
				<div class="cost">
					<span>ksh</span>
					<span>15,000</span>
				</div>
				<div class="actions cf">
					<a href="" class="book-now">Book Now</a>
				</div>
			</div>
			<div class="facility-bio tab cf">
				<nav class="cf">
					<a href="#facility" class="active">The place</a>
					<a href="#rooms">The accomodation</a>
					<a href="#activities">The activities</a>
				</nav>
				<section class="facility tab">
					<h4>About Whitesands</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</section>
					<section class="rooms tab"></section>
					<section class="city tab"></section>
					<section class="activities tab"></section>
			</div>
		</div>
	</aside>

</template>