<template name="user">
  {{#famous view="Surface" size="[undefined,50]" translate="[0,0]" class="header"}}
    <nav class="cf">
      <div class="logo-container span_4">
        <a href="{{pathFor 'userHome'}}"><img src="assets/images/logo.png"></a>
      </div>
      <div id="search" class="span_13">
        <input class="span_24 typeahead" placeholder="Search&hellip;">
      </div>
      <div id="usernav" class="span_7">
        <a class="login" href="{{pathFor 'userLogin'}}">Login</a>
        <a class="support" href="{{pathFor 'userSupport'}}">Help/Support</a>
      </div>
    </nav>
  {{/famous}}

  {{#famous view="Surface" size="[true,true]" translate="[0,0]" class="container"}}
    {{> yield region='main'}}
  {{/famous}}
  

  {{#famous view="Surface" size="[undefined,50]" translate="[0,0]" class="footer"}}
    <div id="productnav" class="span_17">
      <a class="transport" href="{{pathFor 'userTransport'}}">Transport</a>
      <a class="transport" href="{{pathFor 'userSleep'}}">Sleep</a>
      <a class="transport" href="{{pathFor 'userActivity'}}">Activities</a>
      <a class="transport" href="{{pathFor 'userPackages'}}">Packages</a>
    </div>
    <div id="usernav" class="span_7">
      <a class="status" href="{{pathFor 'userStatus'}}">Status</a>
      <a class="itineraries" href="{{pathFor 'userItinerary'}}">Itinerary</a>
    </div>
  {{/famous}}
</template>